  <section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
      <div class="contact-info float-left">
        <i class="icofont-envelope"></i><a href="mailto:par.industries@yahoo.com">par.industries@yahoo.com</a>
        <i class="icofont-envelope"></i><a href="mailto:export.parfast@gmail.com">export.parfast@gmail.com</a>
        <i class="icofont-phone"></i> +91 85580 04122, +91 93567 23067
      </div>
      <div class="social-links float-right">
        <div id="lang-selector" class="lang-selector" data-current-locale="{{_localeId}}"></div>
        <a href="https://www.instagram.com/parfastners/" class="instagram" aria-label="Instagram"><i class="icofont-instagram"></i></a>
      </div>
    </div>
  </section>
