{{>topbar}}

  <!-- ======= Header ======= -->
  {{>header}}

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item active" style="background-image: url('/assets/img/slide/a1.jpg');">
            <div class="carousel-container">
              <div class="carousel-content container">
                <h2 class="animate__animated animate__fadeInDown">{{hero.slide1.title}}</h2>
                <h3 class="animate__animated animate__fadeInDown" style="  color: #fff;margin-bottom: 30px;font-size: 38px;font-weight: 800;" >{{hero.slide1.subtitle}}</h3>
                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">{{hero.slide1.cta}}</a>
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="carousel-item" style="background-image: url('/assets/img/slide/a3.jpg');">
            <div class="carousel-container">
              <div class="carousel-content container">
                <h2 class="animate__animated animate__fadeInDown">{{hero.slide2.title}}</h2>
                            <a href="{{_navProductRange}}" class="btn-get-started animate__animated animate__fadeInUp scrollto">{{nav.productRange}}</a>
			    
              </div>
            </div>
          </div>

           <div class="carousel-item" style="background-image: url('/assets/img/slide/a2.jpg');">
            <div class="carousel-container">
              <div class="carousel-content container">
                <h2 class="animate__animated animate__fadeInDown">{{hero.slide3.title}}</h2>
                             <a href="#services" class="btn-get-started animate__animated animate__fadeInUp scrollto">{{nav.services}}</a>
			    
              </div>
            </div>
          </div>
          <!-- Slide 4 -->
                    <div class="carousel-item" style="background-image: url('/assets/img/slide/a4.jpg');">
            <div class="carousel-container">
              <div class="carousel-content container">
                <h2 class="animate__animated animate__fadeInDown">{{hero.slide4.title}}</h2>
                           
			     <a href="#quality" class="btn-get-started animate__animated animate__fadeInUp scrollto">{{nav.quality}}</a>
              </div>
            </div>
          </div>
		  <!-- Slide 5 -->

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon icofont-rounded-left" aria-hidden="true"></span>
          <span class="sr-only">{{hero.prev}}</span>
        </a>
        <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon icofont-rounded-right" aria-hidden="true"></span>
          <span class="sr-only">{{hero.next}}</span>
        </a>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= {{nav.about}} Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row no-gutters">
          <div class="col-lg-6 video-box">
		  <br><br><br><br>
            <img src="/assets/img/about.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 d-flex flex-column justify-content-center about-content">

            <div class="section-title">
              <h2>{{nav.about}}</h2>
              <p>{{about.intro}}
</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
			              <div class="icon"><i class="bx bx-happy-beaming"></i></div>
              <p class="description">{{about.p1}}</p>
</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
			<div class="icon"><i class="bx bx-bolt-circle"></i></div>
              <p class="description">{{about.p2}}
</p>
            </div>
<div class="icon-box" data-aos="fade-up" data-aos-delay="100">
<div class="icon"><i class="bx bx-pie-chart-alt-2"></i></div>
              <p class="description">{{about.p3}}

</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End {{nav.about}} Section -->


    <!-- ======= {{nav.services}} Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>{{nav.services}}</h2>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
          <div class="icon"><img src="/assets/img/services/cold.jpg" width="300" height="300" alt="" class="animate__animated animate__fadeInDown" ></div>
           <br> <h4 class="title"><a href="">{{services.cold.title}}</a></h4>
            <p class="description">{{services.cold.p1}}</p>
          <p class="description">{{services.cold.p2}}</p>
		  </div>
         
  <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
          <div class="icon"><img src="/assets/img/services/hot.jpg" width="300" height="300" alt="" class="animate__animated animate__fadeInDown" ></div>
           <br> <h4 class="title"><a href="">{{services.hot.title}}</a></h4>
            <p class="description">{{services.hot.p1}}</p>
          <p class="description">{{services.hot.p2}}</p>
		  </div>
<div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
          <div class="icon"><img src="/assets/img/services/other.jpg" width="300" height="300" alt="" class="animate__animated animate__fadeInDown" ></div>
           <br> <h4 class="title"><a href="">{{services.trop.title}}</a></h4>
            <p class="description">{{services.trop.p1}}</p>
          <p class="description">{{services.trop.p2}}</p>
		 </div>
        </div>

      </div>
    </section><!-- End {{nav.services}} Section -->
	
	
	    <!-- ======= About Lists Section ======= -->
		<section id="quality" class="quality-anchor"></section>
    <section class="about-lists"> 
      <div class="container">
	    <div class="section-title">
          <h2>{{nav.quality}}</h2>
        </div>

        <div class="row no-gutters">

          <div class="col-lg-6 col-md-9 content-item" data-aos="fade-up">
            <span>01</span>
            <h4>{{quality.step1.title}}</h4>
            <p>{{quality.step1.text}}</p>
          </div>

          <div class="col-lg-6 col-md-9 content-item" data-aos="fade-up" data-aos-delay="100">
            <span>02</span>
            <h4>{{quality.step2.title}}</h4>
            <p>&nbsp;&nbsp;&nbsp;{{quality.step2.l1}}</p>
			<p>&nbsp;&nbsp;&nbsp;{{quality.step2.l2}}</p>
			<p>&nbsp;&nbsp;&nbsp;{{quality.step2.l3}}</p>
          </div>

          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="200">
            <span>03</span>
            <h4> {{quality.step3.title}}</h4>
            <p>{{quality.step3.text}}</p>
          </div>

          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="300">
            <span>04</span>
            <h4>{{quality.step4.title}}</h4>
            <p>{{quality.step4.text}}</p>
          </div>

          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="400">
            <span>05</span>
            <h4>{{quality.step5.title}}</h4>
            <p>{{quality.step5.text}}</p>
          </div>

   
        </div>
		
		
		<div class="text-center">
	<button type="button" class="btn btn-info" align="center"    style="
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 5px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 0;
    background: #428bca;"><a href="assets/img/pd.jpg" data-gall="portfolioGallery" class="venobox" title="{{quality.processTitle}}" style=" color: #fff;" >{{quality.processBtn}}</a></button></div>
		

      </div>
    </section><!-- End About Lists Section -->

    <!-- ======= Our Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="section-title">
          <h2>{{products.title}}</h2>
        
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">{{products.filter.all}}</li>
              <li data-filter=".filter-bolts">{{products.filter.bolts}}</li>
              <li data-filter=".filter-nuts">{{products.filter.nuts}}</li>
              <li data-filter=".filter-washers">{{products.filter.washers}}</li>
			  <li data-filter=".filter-rivets">{{products.filter.rivets}}</li>
			  <li data-filter=".filter-screws">{{products.filter.screws}}</li>
			  <li data-filter=".filter-studs">{{products.filter.studs}}</li>
			  <li data-filter=".filter-anchors">{{products.filter.anchors}}</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

		  
		  <div class="col-lg-4 col-md-6 portfolio-item filter-nuts">
            <div class="portfolio-wrap">
              <img src="/assets/img/portfolio/n1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{products.item.2h_nut}}</h4>
                <p>{{products.filter.nuts}}</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/n1.jpg" data-gall="portfolioGallery" class="venobox" title="{{products.filter.nuts}}"><i class="icofont-eye"></i></a>
                  
                </div>
              </div>
            </div>
          </div>
		            <div class="col-lg-4 col-md-6 portfolio-item filter-bolts">
            <div class="portfolio-wrap">
              <img src="/assets/img/portfolio/b1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{products.item.hex_bolt}}</h4>
                <p>{{products.filter.bolts}}</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/b1.jpg" data-gall="portfolioGallery" class="venobox" title="{{products.filter.bolts}}"><i class="icofont-eye"></i></a>
                  
                </div>
              </div>
            </div>
          </div>
		  		   

          <div class="col-lg-4 col-md-6 portfolio-item filter-bolts">
            <div class="portfolio-wrap">
              <img src="/assets/img/portfolio/b2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{products.item.flange_bolt}}</h4>
                <p>{{products.filter.bolts}}</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/b2.jpg" data-gall="portfolioGallery" class="venobox" title="{{products.filter.bolts}}"><i class="icofont-eye"></i></a>
                  
                </div>
              </div>
            </div>
          </div>
		            <div class="col-lg-4 col-md-6 portfolio-item filter-bolts">
            <div class="portfolio-wrap">
              <img src="/assets/img/portfolio/b5.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{products.item.allen_bolt}}</h4>
                <p>{{products.filter.bolts}}</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/b5.jpg" data-gall="portfolioGallery" class="venobox" title="{{products.filter.bolts}}"><i class="icofont-eye"></i></a>
                  
                </div>
              </div>
            </div>
          </div>
		   <div class="col-lg-4 col-md-6 portfolio-item filter-bolts">
            <div class="portfolio-wrap">
              <img src="/assets/img/newpro/4.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{products.item.hdg_bolt}}</h4>
                <p>{{products.filter.bolts}}</p>
                <div class="portfolio-links">
                  <a href="assets/img/newpro/4.jpg" data-gall="portfolioGallery" class="venobox" title="{{products.filter.bolts}}"><i class="icofont-eye"></i></a>
                  
                </div>
              </div>
            </div>
          </div>
		  		  		  

		  
		  		   <div class="col-lg-4 col-md-6 portfolio-item filter-nuts">
            <div class="portfolio-wrap">
              <img src="/assets/img/portfolio/n11.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{products.item.hex_nut}}</h4>
                <p>{{products.filter.nuts}}</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/n11.jpg" data-gall="portfolioGallery" class="venobox" title="{{products.filter.nuts}}"><i class="icofont-eye"></i></a>
                  
                </div>
              </div>
            </div>
          </div>
		
		  
		  	  		   <div class="col-lg-4 col-md-6 portfolio-item filter-nuts">
            <div class="portfolio-wrap">
              <img src="/assets/img/portfolio/n3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{products.item.nylock_nut}}</h4>
                <p>{{products.filter.nuts}}</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/n3.jpg" data-gall="portfolioGallery" class="venobox" title="{{products.filter.nuts}}"><i class="icofont-eye"></i></a>
                  
                </div>
              </div>
            </div>
          </div>
		  
		  		   <div class="col-lg-4 col-md-6 portfolio-item filter-bolts">
            <div class="portfolio-wrap">
              <img src="/assets/img/portfolio/b3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{products.item.hot_forged_bolt}}</h4>
                <p>{{products.filter.bolts}}</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/b3.jpg" data-gall="portfolioGallery" class="venobox" title="{{products.filter.bolts}}"><i class="icofont-eye"></i></a>
                  
                </div>
              </div>
            </div>
          </div>
		  		   <div class="col-lg-4 col-md-6 portfolio-item filter-bolts">
            <div class="portfolio-wrap">
              <img src="/assets/img/portfolio/b4.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{products.item.u_bolt}}</h4>
                <p>{{products.filter.bolts}}</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/b4.jpg" data-gall="portfolioGallery" class="venobox" title="{{products.filter.bolts}}"><i class="icofont-eye"></i></a>
                  
                </div>
              </div>
            </div>
          </div>
		  		   <div class="col-lg-4 col-md-6 portfolio-item filter-bolts">
            <div class="portfolio-wrap">
              <img src="/assets/img/portfolio/b10.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{products.item.t_bolt}}</h4>
                <p>{{products.filter.bolts}}</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/b10.jpg" data-gall="portfolioGallery" class="venobox" title="{{products.filter.bolts}}"><i class="icofont-eye"></i></a>
                  
                </div>
              </div>
            </div>
          </div>
		  		   <div class="col-lg-4 col-md-6 portfolio-item filter-bolts">
            <div class="portfolio-wrap">
              <img src="/assets/img/portfolio/b6.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{products.item.foundation_bolt}}</h4>
                <p>{{products.filter.bolts}}</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/b6.jpg" data-gall="portfolioGallery" class="venobox" title="{{products.filter.bolts}}"><i class="icofont-eye"></i></a>
                  
                </div>
              </div>
            </div>
          </div>
		  
		  
		  
		  
		  
		  
		  

		
		  
		
		  		   <div class="col-lg-4 col-md-6 portfolio-item filter-nuts">
            <div class="portfolio-wrap">
              <img src="/assets/img/portfolio/n5.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{products.item.weld_nut}}</h4>
                <p>{{products.filter.nuts}}</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/n5.jpg" data-gall="portfolioGallery" class="venobox" title="{{products.filter.nuts}}"><i class="icofont-eye"></i></a>
                  
                </div>
              </div>
            </div>
          </div>
		   <div class="col-lg-4 col-md-6 portfolio-item filter-nuts">
            <div class="portfolio-wrap">
              <img src="/assets/img/portfolio/n8.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{products.item.square_nut}}</h4>
                <p>{{products.filter.nuts}}</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/n8.jpg" data-gall="portfolioGallery" class="venobox" title="{{products.filter.nuts}}"><i class="icofont-eye"></i></a>
                  
                </div>
              </div>
            </div>
          </div>
		  
		    		  		   <div class="col-lg-4 col-md-6 portfolio-item filter-washers">
            <div class="portfolio-wrap">
              <img src="/assets/img/portfolio/w3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{products.item.plain_washer}}</h4>
                <p>{{products.filter.washers}}</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/w3.jpg" data-gall="portfolioGallery" class="venobox" title="{{products.filter.washers}}"><i class="icofont-eye"></i></a>
                  
                </div>
              </div>
            </div>
          </div>
		  		   <div class="col-lg-4 col-md-6 portfolio-item filter-washers">
            <div class="portfolio-wrap">
              <img src="/assets/img/portfolio/w5.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{products.item.spring_washer}}</h4>
                <p>{{products.filter.washers}}</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/w5.jpg" data-gall="portfolioGallery" class="venobox" title="{{products.filter.washers}}"><i class="icofont-eye"></i></a>
                  
                </div>
              </div>
            </div>
          </div>
		  
		  		   <div class="col-lg-4 col-md-6 portfolio-item filter-nuts">
            <div class="portfolio-wrap">
              <img src="/assets/img/portfolio/n6.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{products.item.hot_forged_nut}}</h4>
                <p>{{products.filter.nuts}}</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/n6.jpg" data-gall="portfolioGallery" class="venobox" title="{{products.filter.nuts}}"><i class="icofont-eye"></i></a>
                  
                </div>
              </div>
            </div>
          </div>
		  		   <div class="col-lg-4 col-md-6 portfolio-item filter-nuts">
            <div class="portfolio-wrap">
              <img src="/assets/img/portfolio/n9.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{products.item.wing_nut}}</h4>
                <p>{{products.filter.nuts}}</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/n9.jpg" data-gall="portfolioGallery" class="venobox" title="{{products.filter.nuts}}"><i class="icofont-eye"></i></a>
                  
                </div>
              </div>
            </div>
          </div>
		  		   <div class="col-lg-4 col-md-6 portfolio-item filter-nuts">
            <div class="portfolio-wrap">
              <img src="/assets/img/portfolio/n7.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{products.item.long_nut}}</h4>
                <p>{{products.filter.nuts}}</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/n7.jpg" data-gall="portfolioGallery" class="venobox" title="{{products.filter.nuts}}"><i class="icofont-eye"></i></a>
                  
                </div>
              </div>
            </div>
          </div>
		  		   
		  
		  
		  		  		   <div class="col-lg-4 col-md-6 portfolio-item filter-washers">
            <div class="portfolio-wrap">
              <img src="/assets/img/portfolio/w1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{products.item.hex_washer}}</h4>
                <p>{{products.filter.washers}}</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/w1.jpg" data-gall="portfolioGallery" class="venobox" title="{{products.filter.washers}}"><i class="icofont-eye"></i></a>
                  
                </div>
              </div>
            </div>
          </div>
		  		  		   <div class="col-lg-4 col-md-6 portfolio-item filter-washers">
            <div class="portfolio-wrap">
              <img src="/assets/img/portfolio/w4.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{products.item.square_washer}}</h4>
                <p>{{products.filter.washers}}</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/w4.jpg" data-gall="portfolioGallery" class="venobox" title="{{products.filter.washers}}"><i class="icofont-eye"></i></a>
                  
                </div>
              </div>
            </div>
          </div>
		  
		  		  		   <div class="col-lg-4 col-md-6 portfolio-item filter-washers">
            <div class="portfolio-wrap">
              <img src="/assets/img/portfolio/w6.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{products.item.taper_washer}}</h4>
                <p>{{products.filter.washers}}</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/w6.jpg" data-gall="portfolioGallery" class="venobox" title="{{products.filter.washers}}"><i class="icofont-eye"></i></a>
                  
                </div>
              </div>
            </div>
          </div>
		  		  		   <div class="col-lg-4 col-md-6 portfolio-item filter-washers">
            <div class="portfolio-wrap">
              <img src="/assets/img/portfolio/w2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{products.item.internal_tooth_washer}}</h4>
                <p>{{products.filter.washers}}</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/w2.jpg" data-gall="portfolioGallery" class="venobox" title="{{products.filter.washers}}"><i class="icofont-eye"></i></a>
                  
                </div>
              </div>
            </div>
          </div>
		  
		  		  		  		   <div class="col-lg-4 col-md-6 portfolio-item filter-rivets">
            <div class="portfolio-wrap">
              <img src="/assets/img/portfolio/r1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{products.item.hollow_rivet}}</h4>
                <p>{{products.filter.rivets}}</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/r1.jpg" data-gall="portfolioGallery" class="venobox" title="{{products.filter.rivets}}"><i class="icofont-eye"></i></a>
                  
                </div>
              </div>
            </div>
          </div>
		  
		  		  		  		   <div class="col-lg-4 col-md-6 portfolio-item filter-rivets">
            <div class="portfolio-wrap">
              <img src="/assets/img/portfolio/r2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{products.item.solid_rivet}}</h4>
                <p>{{products.filter.rivets}}</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/r2.jpg" data-gall="portfolioGallery" class="venobox" title="{{products.filter.rivets}}"><i class="icofont-eye"></i></a>
                  
                </div>
              </div>
            </div>
          </div>
		  
		  
		  		  		 		  		  		   <div class="col-lg-4 col-md-6 portfolio-item filter-screws">
            <div class="portfolio-wrap">
              <img src="/assets/img/portfolio/s1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{products.item.philip_screw}}</h4>
                <p>{{products.filter.screws}}</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/s1.jpg" data-gall="portfolioGallery" class="venobox" title="{{products.filter.screws}}"><i class="icofont-eye"></i></a>
                  
                </div>
              </div>
            </div>
          </div>
		  
		  		  		  		   <div class="col-lg-4 col-md-6 portfolio-item filter-screws">
            <div class="portfolio-wrap">
              <img src="/assets/img/portfolio/s2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{products.item.slotted_pan_screw}}</h4>
                <p>{{products.filter.screws}}</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/s2.jpg" data-gall="portfolioGallery" class="venobox" title="{{products.filter.screws}}"><i class="icofont-eye"></i></a>
                  
                </div>
              </div>
            </div>
          </div>
		  
			  		  		  		   <div class="col-lg-4 col-md-6 portfolio-item filter-studs">
            <div class="portfolio-wrap">
              <img src="/assets/img/portfolio/n2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{products.item.b7_stud}}</h4>
                <p>{{products.filter.studs}}</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/n2.jpg" data-gall="portfolioGallery" class="venobox" title="{{products.filter.studs}}"><i class="icofont-eye"></i></a>
                  
                </div>
              </div>
            </div>
          </div>		  		  		  		   <div class="col-lg-4 col-md-6 portfolio-item filter-studs">
            <div class="portfolio-wrap">
              <img src="/assets/img/portfolio/d1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{products.item.double_ended_stud}}</h4>
                <p>{{products.filter.studs}}</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/d1.jpg" data-gall="portfolioGallery" class="venobox" title="{{products.filter.studs}}"><i class="icofont-eye"></i></a>
                  
                </div>
              </div>
            </div>
          </div>	  
		  
		  
		  
		  
		  
		  
		  <div class="col-lg-4 col-md-6 portfolio-item filter-studs">
            <div class="portfolio-wrap">
              <img src="/assets/img/newpro/1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{products.item.b7_studs_nut}}</h4>
                <p>{{products.filter.studs}}</p>
                <div class="portfolio-links">
                  <a href="assets/img/newpro/1.jpg" data-gall="portfolioGallery" class="venobox" title="{{products.filter.studs}}"><i class="icofont-eye"></i></a>
                  
                </div>
              </div>
            </div>
          </div>	
		  
		  
		  <div class="col-lg-4 col-md-6 portfolio-item filter-screws">
            <div class="portfolio-wrap">
              <img src="/assets/img/newpro/2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{products.item.coach_screw}}</h4>
                <p>{{products.cat.screw}}</p>
                <div class="portfolio-links">
                  <a href="assets/img/newpro/2.jpg" data-gall="portfolioGallery" class="venobox" title="{{products.cat.screw}}"><i class="icofont-eye"></i></a>
                  
                </div>
              </div>
            </div>
          </div>	
		  		  
		  <div class="col-lg-4 col-md-6 portfolio-item filter-screws">
            <div class="portfolio-wrap">
              <img src="/assets/img/newpro/3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{products.item.drywall_screw}}</h4>
                <p>{{products.cat.screw}}</p>
                <div class="portfolio-links">
                  <a href="assets/img/newpro/3.jpg" data-gall="portfolioGallery" class="venobox" title="{{products.cat.screw}}"><i class="icofont-eye"></i></a>
                  
                </div>
              </div>
            </div>
          </div>	
		  		  
	
		  		  
		  <div class="col-lg-4 col-md-6 portfolio-item filter-bolts">
            <div class="portfolio-wrap">
              <img src="/assets/img/newpro/5.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{products.item.button_head_bolt}}</h4>
                <p>{{products.cat.bolt}}</p>
                <div class="portfolio-links">
                  <a href="assets/img/newpro/5.jpg" data-gall="portfolioGallery" class="venobox" title="{{products.filter.bolts}}"><i class="icofont-eye"></i></a>
                  
                </div>
              </div>
            </div>
          </div>	
		  		  
		  <div class="col-lg-4 col-md-6 portfolio-item filter-screws">
            <div class="portfolio-wrap">
              <img src="/assets/img/newpro/6.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{products.item.pan_head_screw}}</h4>
                <p>{{products.cat.screw}}</p>
                <div class="portfolio-links">
                  <a href="assets/img/newpro/6.jpg" data-gall="portfolioGallery" class="venobox" title="{{products.filter.screws}}"><i class="icofont-eye"></i></a>
                  
                </div>
              </div>
            </div>
          </div>	
		  		  
		  <div class="col-lg-4 col-md-6 portfolio-item filter-bolts">
            <div class="portfolio-wrap">
              <img src="/assets/img/newpro/7.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{products.item.roofing_bolt}}</h4>
                <p>{{products.cat.bolt}}</p>
                <div class="portfolio-links">
                  <a href="assets/img/newpro/7.jpg" data-gall="portfolioGallery" class="venobox" title="{{products.filter.bolts}}"><i class="icofont-eye"></i></a>
                  
                </div>
              </div>
            </div>
          </div>	
		  		  
		  <div class="col-lg-4 col-md-6 portfolio-item filter-screws">
            <div class="portfolio-wrap">
              <img src="/assets/img/newpro/8.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{products.item.csk_socket}}</h4>
                <p>{{products.cat.screw}}</p>
                <div class="portfolio-links">
                  <a href="assets/img/newpro/8.jpg" data-gall="portfolioGallery" class="venobox" title="{{products.filter.studs}}"><i class="icofont-eye"></i></a>
                  
                </div>
              </div>
            </div>
          </div>	
		  
		  <div class="col-lg-4 col-md-6 portfolio-item filter-studs">
            <div class="portfolio-wrap">
              <img src="/assets/img/newpro/9.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{products.item.thread_rod}}</h4>
                <p>{{products.cat.rods}}</p>
                <div class="portfolio-links">
                  <a href="assets/img/newpro/9.jpg" data-gall="portfolioGallery" class="venobox" title="{{products.cat.rods}}"><i class="icofont-eye"></i></a>
                  
                </div>
              </div>
            </div>
          </div>	
		  		  <div class="col-lg-4 col-md-6 portfolio-item filter-nuts">
            <div class="portfolio-wrap">
              <img src="/assets/img/newmore/1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{products.item.cage_nut}}</h4>
                <p>{{products.filter.nuts}}</p>
                <div class="portfolio-links">
                  <a href="assets/img/newmore/1.jpg" data-gall="portfolioGallery" class="venobox" title="{{products.filter.nuts}}"><i class="icofont-eye"></i></a>
                  
                </div>
              </div>
            </div>
          </div>	
		  		  <div class="col-lg-4 col-md-6 portfolio-item filter-nuts">
            <div class="portfolio-wrap">
              <img src="/assets/img/newmore/2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{products.item.castle_nut}}</h4>
                <p>{{products.filter.nuts}}</p>
                <div class="portfolio-links">
                  <a href="assets/img/newmore/2.jpg" data-gall="portfolioGallery" class="venobox" title="{{products.filter.nuts}}"><i class="icofont-eye"></i></a>
                  
                </div>
              </div>
            </div>
          </div>
		  		  		  <div class="col-lg-4 col-md-6 portfolio-item filter-nuts">
            <div class="portfolio-wrap">
              <img src="/assets/img/newmore/3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{products.item.dome_nut}}</h4>
                <p>{{products.filter.nuts}}</p>
                <div class="portfolio-links">
                  <a href="assets/img/newmore/3.jpg" data-gall="portfolioGallery" class="venobox" title="{{products.filter.nuts}}"><i class="icofont-eye"></i></a>
                  
                </div>
              </div>
            </div>
          </div>
		  <div class="col-lg-4 col-md-6 portfolio-item filter-bolts">
            <div class="portfolio-wrap">
              <img src="/assets/img/newmore/4.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{products.item.eye_bolt}}</h4>
                <p>{{products.filter.bolts}}</p>
                <div class="portfolio-links">
                  <a href="assets/img/newmore/4.jpg" data-gall="portfolioGallery" class="venobox" title="{{products.filter.bolts}}"><i class="icofont-eye"></i></a>
                  
                </div>
              </div>
            </div>
          </div>
		  <div class="col-lg-4 col-md-6 portfolio-item filter-anchors">
            <div class="portfolio-wrap">
              <img src="/assets/img/newmore/5.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{products.item.fischer_bolt}}</h4>
                <p>{{products.filter.bolts}}</p>
                <div class="portfolio-links">
                  <a href="assets/img/newmore/5.jpg" data-gall="portfolioGallery" class="venobox" title="{{products.filter.anchors}}"><i class="icofont-eye"></i></a>
                  
                </div>
              </div>
            </div>
          </div>
		  <div class="col-lg-4 col-md-6 portfolio-item filter-nuts">
            <div class="portfolio-wrap">
              <img src="/assets/img/newmore/6.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{products.item.flange_nut}}</h4>
                <p>{{products.filter.nuts}}</p>
                <div class="portfolio-links">
                  <a href="assets/img/newmore/6.jpg" data-gall="portfolioGallery" class="venobox" title="{{products.filter.nuts}}"><i class="icofont-eye"></i></a>
                  
                </div>
              </div>
            </div>
          </div>
		  <div class="col-lg-4 col-md-6 portfolio-item filter-bolts">
            <div class="portfolio-wrap">
              <img src="/assets/img/newmore/7.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{products.item.j_bolt}}</h4>
                <p>{{products.filter.bolts}}</p>
                <div class="portfolio-links">
                  <a href="assets/img/newmore/7.jpg" data-gall="portfolioGallery" class="venobox" title="{{products.filter.bolts}}"><i class="icofont-eye"></i></a>
                  
                </div>
              </div>
            </div>
          </div>
		  <div class="col-lg-4 col-md-6 portfolio-item filter-nuts">
            <div class="portfolio-wrap">
              <img src="/assets/img/newmore/8.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{products.item.lock_nut}}</h4>
                <p>{{products.filter.nuts}}</p>
                <div class="portfolio-links">
                  <a href="assets/img/newmore/8.jpg" data-gall="portfolioGallery" class="venobox" title="{{products.filter.nuts}}"><i class="icofont-eye"></i></a>
                  
                </div>
              </div>
            </div>
          </div>
		  <div class="col-lg-4 col-md-6 portfolio-item filter-anchors">
            <div class="portfolio-wrap">
              <img src="/assets/img/newmore/9.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{products.item.rawal_bolt}}</h4>
                <p>{{products.filter.anchors}}</p>
                <div class="portfolio-links">
                  <a href="assets/img/newmore/9.jpg" data-gall="portfolioGallery" class="venobox" title="{{products.filter.anchors}}"><i class="icofont-eye"></i></a>
                  
                </div>
              </div>
            </div>
          </div>
		  <div class="col-lg-4 col-md-6 portfolio-item filter-anchors">
            <div class="portfolio-wrap">
              <img src="/assets/img/newmore/10.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{products.item.pin_anchor}}</h4>
                <p>{{products.filter.anchors}}</p>
                <div class="portfolio-links">
                  <a href="assets/img/newmore/10.jpg" data-gall="portfolioGallery" class="venobox" title="{{products.filter.anchors}}"><i class="icofont-eye"></i></a>
                  
                </div>
              </div>
            </div>
          </div>
		  
        </div>

      </div>
	  
	  		<div class="text-center">
	<button type="button" class="btn btn-info" align="center"    style="
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 5px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 0;
    background: #428bca;"><a href="{{_navProductRange}}" style=" color: #fff;" >{{nav.productRange}}</a></button></div>
    </section><!-- End Our Portfolio Section -->

 
    </section><!-- End Our Team Section -->
    <!-- ======= {{nav.contact}} Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>{{nav.contact}}</h2>
        </div>

        <div class="row">

          <div class="col-lg-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="info-box">
              <i class="bx bx-map"></i>
              <h3>{{contact.address.title}}</h3>
              <p>{{contact.address.text}}</p>
            </div>
          </div>

          <div class="col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="info-box">
              <i class="bx bx-envelope"></i>
              <h3>{{contact.email.title}}</h3>
          <a href="mailto:par.industries@yahoo.com">    <p>par.industries@yahoo.com</p></a>
		  <a href="mailto:export.parfast@gmail.com">    <p>export.parfast@gmail.com</p></a>
		   
            </div>
          </div>



          <div class="col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="info-box ">
              <i class="bx bx-phone-call"></i>
              <h3>{{contact.phone.title}}</h3>
              <p>{{contact.phone.text}}</p>
            </div>
          </div>
          

        </div>

      </div>
    </section><!-- End {{nav.contact}} Section -->

  </main><!-- End #main -->

  {{>footer}}

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  {{>scripts}}
