{{>topbar}}

  <!-- ======= Header ======= -->
  {{>header}}
 

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>{{nav.productRange}}</h2>
          <ol>
            <li><a href="{{_homeUrl}}">{{nav.home}}</a></li>
            <li>{{nav.productRange}}</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
      <div class="container">
	  <!-- for table --> 


            <section class="panel">
              <header class="panel-heading">
                <a id="id1"><h3>{{productsRange.section1}}</h3></a>
              </header><br>

<table  class="table table-hover" >
<tbody>
<tr >
<th style="text-align: center;" rowspan="2" scope="col" width="33%">{{productsRange.table.diameter}}</th>
<th style="text-align: center;" colspan="2" scope="col">{{productsRange.table.length}}</th>
</tr>
<tr>
<th style="text-align: center;" scope="col" >{{productsRange.table.coldForged}}</th>
<th style="text-align: center;" scope="col" >{{productsRange.table.hotForged}}</th>
</tr>
<tr >
<th style="text-align: center;" scope="col">M04</th>
<th style="text-align: center;" scope="col" width="32%">6 to 40</th>
<th style="text-align: center;" scope="col" width="35%">&#8212;-</th>
</tr>
<tr >
<th style="text-align: center;" scope="col">M05</th>
<th style="text-align: center;" scope="col">8 to 75</th>
<th style="text-align: center;" scope="col">&#8212;-</th>
</tr>
<tr >
<th style="text-align: center;" scope="col">M06</th>
<th style="text-align: center;" scope="col">8 to 100</th>
<th style="text-align: center;" scope="col">&#8212;-</th>
</tr>
<tr >
<th style="text-align: center;" scope="col">M08</th>
<th style="text-align: center;" scope="col">10 to 100</th>
<th style="text-align: center;" scope="col">&#8212;-</th>
</tr>
<tr >
<th style="text-align: center;" scope="col">M10</th>
<th style="text-align: center;" scope="col">15 to 300</th>
<th style="text-align: center;" scope="col">25 to 300</th>
</tr>
<tr >
<th style="text-align: center;" scope="col">M12</th>
<th style="text-align: center;" scope="col">20 to 300</th>
<th style="text-align: center;" scope="col">35 to 400</th>
</tr>
<tr >
<th style="text-align: center;" scope="col">M14</th>
<th style="text-align: center;" scope="col">25 to 300</th>
<th style="text-align: center;" scope="col">40 to 400</th>
</tr>
<tr >
<th style="text-align: center;" scope="col">M16</th>
<th style="text-align: center;" scope="col">25 to 300</th>
<th style="text-align: center;" scope="col">40 to 3000</th>
</tr>
<tr >
<th style="text-align: center;" scope="col">M18</th>
<th style="text-align: center;" scope="col">25 to 300</th>
<th style="text-align: center;" scope="col">50 to 3000</th>
</tr>
<tr >
<th style="text-align: center;" scope="col">M20</th>
<th style="text-align: center;" scope="col">30 to 300</th>
<th style="text-align: center;" scope="col">50 to 3000</th>
</tr>
<tr >
<th style="text-align: center;" scope="col">M22</th>
<th style="text-align: center;" scope="col">30 to 300</th>
<th style="text-align: center;" scope="col">60 to 3000</th>
</tr>
<tr >
<th style="text-align: center;" scope="col">M24</th>
<th style="text-align: center;" scope="col">40 to 300</th>
<th style="text-align: center;" scope="col">60 to 3000</th>
</tr>
<tr >
<th style="text-align: center;" scope="col">M27</th>
<th style="text-align: center;" scope="col">50 to 300</th>
<th style="text-align: center;" scope="col">60 to 3000</th>
</tr>
<tr >
<th style="text-align: center;" scope="col">M30</th>
<th style="text-align: center;" scope="col">60 to 300</th>
<th style="text-align: center;" scope="col">60 to 3000</th>
</tr>
<tr >
<th style="text-align: center;" scope="col">M33</th>
<th style="text-align: center;" scope="col">&#8212;-</th>
<th style="text-align: center;" scope="col">70 to 1500</th>
</tr>
<tr >
<th style="text-align: center;" scope="col">M36</th>
<th style="text-align: center;" scope="col">&#8212;-</th>
<th style="text-align: center;" scope="col">80 to 1500</th>
</tr>
<tr >
<th style="text-align: center;" scope="col">M39</th>
<th style="text-align: center;" scope="col">&#8212;-</th>
<th style="text-align: center;" scope="col">100 to 1500</th>
</tr>
<tr >
<th style="text-align: center;" scope="col">M42</th>
<th style="text-align: center;" scope="col">&#8212;-</th>
<th style="text-align: center;" scope="col">100 to 1500</th>
</tr>
<tr >
<th style="text-align: center;" scope="col">M45</th>
<th style="text-align: center;" scope="col">&#8212;-</th>
<th style="text-align: center;" scope="col">100 to 1500</th>
</tr>
<tr >
<th style="text-align: center;" scope="col">M48</th>
<th style="text-align: center;" scope="col">&#8212;-</th>
<th style="text-align: center;" scope="col">100 to 1500</th>
</tr>
<tr >
<th style="text-align: center;" scope="col">M52</th>
<th style="text-align: center;" scope="col">&#8212;-</th>
<th style="text-align: center;" scope="col">100 to 1500</th>
</tr>
<tr >
<th style="text-align: center;" scope="col">M56</th>
<th style="text-align: center;" scope="col"></th>
<th style="text-align: center;" scope="col">100 to 1500</th>
</tr>
<tr >
<th style="text-align: center;" scope="col">M60</th>
<th style="text-align: center;" scope="col">&#8212;-</th>
<th style="text-align: center;" scope="col">100 to 1500</th>
</tr>
<tr >
<th style="text-align: center;" scope="col">M64</th>
<th style="text-align: center;" scope="col">&#8212;-</th>
<th style="text-align: center;" scope="col">100 to 1500</th>
</tr>
<tr >
<th style="text-align: center;" scope="col">M72</th>
<th style="text-align: center;" scope="col">&#8212;-</th>
<th style="text-align: center;" scope="col">100 to 1500</th>
</tr>
<tr >
<th style="text-align: center;" scope="col">M80</th>
<th style="text-align: center;" scope="col">&#8212;-</th>
<th style="text-align: center;" scope="col">100 to 1500</th>
</tr>
</tbody>
</table>
		<!-- for table --> 
		<br><br>
		
		
<p><strong>BOLTS RANGE :</strong></p>
<ul>
<li>{{services.cold.title}} (M4 to M30)</li>
<li>{{services.hot.title}} (M10 to M80)</li>
</ul>
<p><strong>GRADE : </strong>4.6, 4.8, 5.6, BSW, BSF, UNC, UNF (Gr2) Precision, 6.6, 6.8, 6.9, 8.8, 10.9, Gr 2, Gr 5, Gr 8, B7, Gr. R, S, T, U, V, A325, A490</p>
<p><strong>FINISH :</strong></p>
<ul>
<li>Black, Self</li>
<li>Zinc Plated</li>
<li>Rilsan Blue</li>
<li>Hot Dip Galvanized</li>
</ul>
<p><strong>NUTS  RANGE :</strong></p>
<ul>
<li>{{products.item.hex_nut}}s</li>
<li>Friction Grip {{products.filter.nuts}}</li>
<li>{{products.item.square_nut}}s</li>
<li>{{products.item.flange_nut}}s</li>
<li>{{products.item.nylock_nut}}s</li>
<li>{{products.item.dome_nut}}s</li>
<li>Commercial {{products.filter.nuts}}</li>
<li>Wheel {{products.filter.nuts}}</li>
</ul>
<p><strong>GRADE :</strong> Gr.4, 5, 6, 8, 10, 12, 2H, S, T, U, V</p>
<p><strong>FINISH :</strong></p>
<ul>
<li>Zinc Plated</li>
<li>Hot Dip Galvanized</li>
<li>Self, Black</li>
</ul>
<p><strong>WASHER RANGE :</strong></p>
<ul>
<li>{{products.item.plain_washer}}s</li>
<li>Heavy {{products.filter.washers}}</li>
<li>{{products.item.spring_washer}}s</li>
<li>High Strength Friction Grip {{products.filter.washers}}<br />
as per the requirement of customer.</li>
</ul>
<p><strong>FINISH :</strong></p>
<ul>
<li>Zinc Plated</li>
<li>Hot Dip Galvanized</li>
<li>Black, Self</li>
</ul>
<p><strong>THREADED BARS : </strong>PAR produces Threaded Bars with a maximum Dia upto 100 mm and Length upto 3 meters.</p>
<p><strong>GRADE :</strong></p>
<ul>
<li>Mild Steel</li>
<li>High Tensile</li>
</ul>
<p><strong>FINISH :</strong></p>
<ul>
<li>Self, Black</li>
<li>Zinc Plated</li>
<li>Hot Dip Galvanized</li>
</ul>
<p><strong>STUD BOLTS &amp; DOUBLE ENDED STUDS : </strong>PAR is manufacturing Stud {{products.filter.bolts}} as per ASTM A193 Gr. B7 and {{products.item.double_ended_stud}}s in Dia-½&#8221; to 4&#8243; and length upto 76&#8243; in inches series and 8 mm to 100 mm and length upto 3 meters in metric series.</p>
<p><strong>GRADE : </strong>B7, B7M, 2H, 2HM</p>
<p><strong>DOUBLE ENDED : </strong>Mild Steel and High Tensile</p>
		
	
		 	<br><br>
		
		
		
		  
   <header class="panel-heading">
                <a id="id1"><h3>{{productsRange.section2}}</h3></a>
              </header><br>
<table class="table table-hover">
<tbody>
<tr >
<th style="text-align: center;" scope="col" width="12%">{{productsRange.table.srNo}}</th>
<th style="text-align: center;" scope="col" width="20%">{{productsRange.table.standard}}</th>
<th style="text-align: center;" scope="col" width="24%">{{productsRange.table.item}}</th>
<th style="text-align: center;" scope="col" width="23%">{{productsRange.table.mechanical}}</th>
<th style="text-align: center;" scope="col"  width="21%">{{productsRange.table.dimensional}}</th>
</tr>
<tr>
<th style="text-align: center;" scope="col">1</th>
<th style="text-align: center;" scope="col">IS</p>
<p>ISO<br />
ASTM</p>
<p>BS<br />
AS<br />
DIN</th>
<th style="text-align: center;" scope="col">{{products.item.hex_bolt}}</th>
<th style="text-align: center;" scope="col">IS 1367 PART-III</p>
<p>ISO 898 PART-I<br />
ASTM A307A<br />
ASTM A193<br />
BS EN ISO 898 PART-I &amp; BS 3692<br />
AS 1111 &amp; AS 1110<br />
DIN EN ISO 898 PART-I</th>
<th style="text-align: center;" scope="col">IS 1363 PART P-I</p>
<p>ISO4016 &amp; ISO 4014<br />
ASME B18.2.1<br />
ASME B18.2.1<br />
BS 3692<br />
AS 1111 &amp; AS 1110<br />
DIN 601, 931</th>
</tr>
<tr >
<th style="text-align: center;" scope="col" >2</th>
<th style="text-align: center;" scope="col" >IS<br />
ISO<br />
ASTMAS<br />
DIN</th>
<th style="text-align: center;" scope="col" >Heavy {{products.item.hex_bolt}}</th>
<th style="text-align: center;" scope="col" >IS 1367 Part-III<br />
ISO 1367 898 PART<br />
ASTM A307B<br />
ASTM A325<br />
ASTM A325M<br />
ASTM A 490<br />
ASTM A490M<br />
AS 1252<br />
DIN EN ISO 898 PART-I</th>
<th style="text-align: center;" scope="col" >IS 3757<br />
ISO 7411, ISO 7412<br />
ASME B18.2.1<br />
ASME B18.2.1<br />
ASME B18.2.3.7M<br />
ASME B18.2.1<br />
ASME B18.2.3.7M<br />
AS 1252<br />
DIN 6914</th>
</tr>
<tr>
<th style="text-align: center;" scope="col">3</th>
<th style="text-align: center;" scope="col">IS<br />
DIN<br />
ASTM<br />
BS<br />
AS</th>
<th style="text-align: center;" scope="col">HEX Structural {{products.cat.bolt}}</th>
<th style="text-align: center;" scope="col">IS 1367 PART-III<br />
DIN EN ISO 898 PART-III<br />
ASTM A 394<br />
BE EN ISO 898 PART-I &amp; BS 4190<br />
AS 1111 &amp; AS 1110</th>
<th style="text-align: center;" scope="col">IS 12427, IS 6639<br />
DIN 7990<br />
ASME B 18.2.1<br />
BS 4190<br />
AS 1559</th>
</tr>
<tr >
<th style="text-align: center;" scope="col" >4</th>
<th style="text-align: center;" scope="col" >IS<br />
DIN<br />
AS<br />
ASTM</th>
<th style="text-align: center;" scope="col" >Coach / Carriage {{products.cat.bolt}}</th>
<th style="text-align: center;" scope="col" >IS 1367 PART-III<br />
DIN EN ISO 898 PART-I<br />
AS 1390<br />
ASE J429</th>
<th style="text-align: center;" scope="col" >IS 2609<br />
DIN 603<br />
AS 1390<br />
ASME B18.5</th>
</tr>
<tr>
<th style="text-align: center;" scope="col">5</th>
<th style="text-align: center;" scope="col">IS</p>
<p>AS<br />
ISO<br />
DIN</th>
<th style="text-align: center;" scope="col">Hex {{products.cat.screw}}</th>
<th style="text-align: center;" scope="col">IS 1367 PART-III<br />
IS 1367 PART-III<br />
AS 1111 &amp; AS 1110<br />
ISO 898 PART-I<br />
DIN EN ISO 898 PART-I</th>
<th style="text-align: center;" scope="col">IS 1363 PART P-II<br />
IS 1364 PART P-II<br />
AS 1111 &amp; AS 1110<br />
ISO 4017 &amp; ISO 4018<br />
DIN 933, DIN 558</th>
</tr>
<tr >
<th style="text-align: center;" scope="col">6</th>
<th style="text-align: center;" scope="col">IS<br />
ISO<br />
DIN<br />
ASTM<br />
BS<br />
ASTM<br />
ASTM</th>
<th style="text-align: center;" scope="col">Stud &amp; Bent / U {{products.cat.bolt}}</th>
<th style="text-align: center;" scope="col">IS 1367 PART-III<br />
ISO 898 PART-I<br />
DIN EN ISO PART-I<br />
ASTM A307-A<br />
BS EN ISO 898 PART-I<br />
ASTM A 1554<br />
SAE J429 &amp; ASTM A307</th>
<th style="text-align: center;" scope="col" >AS PER DRAWING<br />
AS PER DRAWING<br />
DIN 975<br />
ASME B18.31.1<br />
AS PER DRAWING<br />
AS PER DRAWING<br />
IFI-136</th>
</tr>
</tbody>
</table>



            </section>
          </div>  

  </main><!-- End #main -->
<!-- End Our Team Section -->
    <!-- ======= {{nav.contact}} Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>{{nav.contact}}</h2>
        </div>

        <div class="row">

          <div class="col-lg-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="info-box">
              <i class="bx bx-map"></i>
              <h3>{{contact.address.title}}</h3>
              <p>{{contact.address.text}}</p>
            </div>
          </div>

          <div class="col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="info-box">
              <i class="bx bx-envelope"></i>
              <h3>{{contact.email.title}}</h3>
           <a href="mailto:par.industries@yahoo.com">   <p>par.industries@yahoo.com</p></a>
            </div>
          </div>


          <div class="col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="info-box ">
              <i class="bx bx-phone-call"></i>
              <h3>{{contact.phone.title}}</h3>
              <p>{{contact.phone.textShort}}</p>
            </div>
          </div>
          

        </div>

      </div>
    </section><!-- End {{nav.contact}} Section -->

  </main><!-- End #main -->

  {{>footer}}

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  {{>scripts}}
